.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'AppHeader AppHeader AppHeader '
    'AppNav AppNav AppNav'
    '. AppMain .'
    'AppFooter AppFooter AppFooter';
}

.Header {
  border: 3px solid red;
  grid-area: AppHeader;
}

.Nav {
  border: 3px solid blue;
  grid-area: AppNav;
}

.Footer {
  border: 3px solid yellow;
  grid-area: AppFooter;
}

.Router {
  grid-area: AppMain;
  display: flex;
}

.ArticleCard {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'ArticleCardInfo ArticleCardVotes'
    'ArticleCardInfo ArticleCardComments';
  margin: 20px;
}

.ArticleCardInfo {
  border: 2px solid green;
  grid-area: ArticleCardInfo;
}

.ArticleCardVotes {
  border: 2px solid turquoise;
  grid-area: ArticleCardVotes;
}

.ArticleCardComments {
  border: 2px solid goldenrod;
  grid-area: ArticleCardComments;
}
